

.head {
    margin-top: 25px;
    margin-left: 0px;
    margin-bottom: px;
}

.form {
    margin-top: 20px;
}

.list {
    margin-top: 20px;
    margin-left: 0;
    margin-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.body {
    margin-top: 10px;
    margin-left: 10px;
}

.widgetBox {
    max-width: 250px;
    padding-left: 0px;
}

.widgetTitle {
    padding-top: 5px;
}

.register {
    margin-left: 0;
}

.carInput {
    margin: 0;
}

.carInputForm {
    width: 100%;
    margin: 0;
}

.login {
    background-color: aqua;
    background-image: url("../images/bokehBG.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: middle center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 100%;

}