.head {
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
}

.form {
    padding-top: 15px;
}

.list {
    padding-top: 25px;
    padding-left: 0;
}

.body {
    padding-top: 10px;
}